*   {
margin: 0;
padding: 0;
text-transform: uppercase;
}
a   {
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}
.relative   {
    position: relative;
}
.container  {
    margin: 0 auto;
}
.toggleButton {
    background-image: url('../fonts/volume_on.png');
    width: 40px;
    height: 40px;
    background-size: cover;
    border: 0;
}

.toggleButton.paused {
    background-image: url('../fonts/volume_off.png');
}
body    {
    background-color: #f7f7f5;;
    padding: 0;
}
.flex__center{
    display: flex;
    justify-content: center;
    
}
.padding {
    padding: 0 10%;
}
.header {
    padding: 0 5%;
}
.header__inner  {
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 50px;
    background-color: #f7f7f5;
}

.menu__list {
    display: flex;
    align-items: center;
    gap: 0 65px;
}
.section__header    {
    width: 100%;
    height: 430px;
    display: flex;
    
    flex-wrap: wrap;
}
.containers {
    width: 30%;
    height: 100%;
}
.containers-1{
    box-sizing: content-box;
    width: 30%;
    height: 100%;
}
.header__newlyweds {
    justify-content: center;
    padding: 0 10%;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.header__image-first    {
    height: 100%;
    filter: alpha(Opacity = 50);
    opacity: 0.50;
    rotate: -36deg;
    
}
.header__center-invite {
    display: flex;
    justify-content: center;
}
.header__newlyweds-names {
    height: 500px;
    width: 500px;
    align-items: center;
    background: url(../fonts/center.png) no-repeat center top/cover;
    background-size: cover;
}
.logo__img{
    height: 70px;
    width: 70px;
}
.newlyweds__names-text{
    line-height:1.6;
    padding-bottom: 45px;
}
.header__center {
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    align-content: center;
    align-items: center;
    font-size: 30px;
    text-align: center;
}
.txt{
    font-size: 22px;
}
.waiting__for-you{
    padding-top: 20px;
}
.waiting__for-you img{
    height: 40px;
    width: 280px;
}
.love__friends{
    width: 360px;
    height: 150px;

}
.friens{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.friends__block-center {
    font-size: 14px;
    padding-top: 10px;
    text-align: center;
}
.friends__block-center-bottom{
    font-size: 14px;
    padding-top: 20px;
    text-align: center;
}

.image__wrapper {
    z-index: -1;
    position: absolute;
    width: 200px; /* Ширина блока обертки */
    height: 200px; /* Высота блока обертки */
    overflow: hidden; /* Обрезаем контент, выходящий за пределы блока */
}

.image__wrapper img {
    width: 100%; /* Ширина картинки равна ширине блока обертки */
    height: auto; /* Автоматическая высота, сохраняющая пропорции */
     /* Переместить влево на 50px, чтобы показать обрезанную часть */
}
.wrapper-one {
    left: 13%;
    top: -114%;
}
.wrapper-two {
    left: 18%;
    top: -54%;
    rotate: 33deg;
}
.wrapper-tree {
    left: 65%;
    top: -67%;
    rotate: 23deg;
}

.block__arrow {
    height: 10px; /* Высота блока */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f5;
}

.block__arrow {
    animation: moveDown 1s infinite alternate;
}

@keyframes moveDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(20px); /* Смещение вниз на 20px */
    }
}
.space__list{
    margin-top: 10px;
    width: 60px;
    height: 60px;
}
.wrapper__list {
    padding-top: 10px;
    width: 50%;
    rotate: 16deg;
}
.wrapper_list {
    padding-top: 10px;
    rotate: 16deg;
}
.calendar__img{
    padding-top: 20px;
    padding-bottom: 20px;
}
.calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height:100%;
}
.calendar__table{
    text-align:center;
    font-size: 20px;
}
.calendar__data{
    width: 45px;
}
.calendar__day{
    height: 40px;
}
.td__img-heart  {
    background: url(../fonts/heart_kris.png);
    background-repeat: no-repeat;
    background-size: 100% 40px;
}

.section__traveler {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-around
}
.traveler__block-center {
    font-size: 14px;
    padding-top: 10px;
    text-align: center;
}
.traveler__image-first {
    height: 350px;
    filter: alpha(Opacity = 50);
    opacity: 0.50;
    rotate: 123deg;
}
.wrapper__travel {
    left: 13%;
    top: -114%;
    z-index: -1;
    position: absolute;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

.section__map {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
}

.wrapper__map {
    width: 100px;
    rotate: 16deg;
    padding-left: 10%;
}
.programm__img {
    display: flex;
    align-items: center;
    justify-content: center;
}
.programm__day-img{
    margin-top: 20px;
    width: 300px;
    height: 90px;
}
.day__programm{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}
.section__day-programm{
    display: flex;
    flex-direction: column;
    
}
.space{
    padding-bottom: 70px;
}
.section__day-programm-one{
    width: 150px;
}
.section__day-programm-two{
    width: 100px;
}
.section__day-programm-tree{
    width: 150px;
}
.rings__img{
    width: 100px;
}
.eat__img{
    width: 100px;
}
.here__img{
    width: 100px;
}
.tort__img{
    width: 100px;
}
.day__programm-heart{
    width: 30px;
}
.day__programm--center-list{
    height: 500px;
    filter: alpha(Opacity = 50);
    opacity: 0.50;
    rotate: 123deg;
}

.heart__img{
    background-image: url(./fonts/heart_full.png) no-repeat;
}
hr{
    width: 1px;
    height: 120px;
    margin: -10px 49% -5px 49.7%;
    background-color: rgba(28, 102, 28, 0.432);
}
.wish{
    display: flex;
    justify-content: center;
}
.wished{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.wrapper_list-block{
    display: flex;
    align-items: center;
    justify-content: center;
}
.wished__block-center {
    font-size: 14px;
    margin: 40px 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contacts__center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wished__block-bottom{
    font-size: 14px;
    margin: 20px 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle__flex{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 130px;
}
.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    margin: 10px; /* Добавляем немного отступа между кругами */
}
.pink { background-color: #eac7d6; }
.blue { background-color: #a8c3be; }
.green { background-color: #b2c76c; }
.brown { background-color: #d6c4b5; }
.purple { background-color: #bdaeca; }

.wedding__date{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 300px;
}
.wending__text-data{
    font-size: 20px;
    padding-bottom: 40px;
}
.wending__date-background-div{
    background: url(../fonts/data_background.png) center / cover;
    background-size: cover;
    width: 600px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: grayscale(0.5);
}
/* .wending__date-background-div:hover {
    filter: brightness(1%);
  } */
.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.block {
    font-size: 15px;
    text-align: center;
    text-transform: none;
}

.divider {
    display: inline-block;
    margin: 0 30px;
    font-size: 40px;
    color: #e1dfdf;
}
#days {
    font-size: 50px;
}
#hours {
    font-size: 50px;
}
#minutes {
    font-size: 50px;
}
#seconds {
    font-size: 50px;
}
footer {
    width: 100%;
    height: 100%;
}
 .footer__wrapper {
    display: flex;
    justify-content: center;
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 600px;
    overflow: hidden;
}
.footer__wrapper-one {
    height: 830px;
    display: block;
    position: absolute;
    top: -60%;
    left: 41%;
    transform: translateY(-50%);
    rotate: -147deg;
    }
.img_ser-and-kriss{
    margin-top: 10%;
    height: 155px;
    width: 300px;
}

/* Скрыть элемент на мобильных устройствах (ширина меньше 1000px) */
@media (max-width: 900px) {
    #body {
        width: 650px;
    }
    #elementToHide {
        display: none;
    }
    #header{
        padding: 0;
    }
    #header__newlyweds {
        padding: 0;
    }
    #padding {
        padding: 0;
    }
    #footer{
        display: flex;
        justify-content: center;
    }
    #footer__list{
        height: 410px;
        display: block;
        position: absolute;
        top: -7%;
        left: 32%;
        transform: translateY(-50%);
        rotate: -147deg;
    }
    #footer__img{
        margin-top: 40%;
        height: 130px;
        width: 260px;
    }
    #footer__wrapper{
        width: 600px;
    }
    #containers{
        width: 24%;
    }
    #day__programm{
        margin-left: 15px;
    }
}